<header class="header">
  <div class="container container--big">
    <nav class="header__inner">
      <a href="" class="logo">
        <img class="logo__img" src="img/logo.svg" width="160" height="45" alt="логотип Яндекс Го">
      </a>

      <ul class="header__menu menu">
        <li class="menu__item">
          <a class="menu__link" href="#rent">
            Как арендовать самокат
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#subscription">
            Катайтесь с Плюсом
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#rules">
            Катайтесь аккуратно
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#where">
            Где самокаты?
          </a>
        </li>
      </ul>

      <button class="header__btn btn" type="button">Скачать</button>
    </nav>
  </div>
</header> 